<!-- Carousel Start -->
<div class="container-fluid mb-3">
  <div class="row px-xl-5">
    <div class="col-lg-12">
      <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">
        <ol class="carousel-indicators">
<!--          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>-->
<!--          <li data-target="#header-carousel" data-slide-to="1"></li>-->
<!--          <li data-target="#header-carousel" data-slide-to="2"></li>-->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.banner/0/0/0/1727_new.jpg?v=3&w=1580&h=400" style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
<!--              <div class="p-3" style="max-width: 700px;">-->
<!--                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Men Fashion</h1>-->
<!--                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>-->
<!--                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>-->
<!--              </div>-->
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book_collection_banner/0/0/0/1358.jpg?v=1&w=1580&h=400" style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
<!--              <div class="p-3" style="max-width: 700px;">-->
<!--                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Women Fashion</h1>-->
<!--                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>-->
<!--                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>-->
<!--              </div>-->
            </div>
          </div>
          <div class="carousel-item position-relative" style="height: 430px;">
            <img class="position-absolute w-100 h-100" src="https://307a0e78.vws.vegacdn.vn/view/v2/image/img.banner/0/0/0/1702_new.jpg?v=2&w=1580&h=400" style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
<!--              <div class="p-3" style="max-width: 700px;">-->
<!--                <h1 class="display-4 text-white mb-3 animate__animated animate__fadeInDown">Kids Fashion</h1>-->
<!--                <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>-->
<!--                <a class="btn btn-outline-light py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Carousel End -->

<!-- Văn học Việt Nam -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Văn Học Việt Nam</span></h2>
  <div class="row px-xl-5 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/8/9/8936049953569_1.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Truyện Ngắn Vũ Trọng Phụng</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_133943.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Số Đỏ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/8/9/8935236425834.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Đời Thừa</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/5/12/9YLI42GM.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Chùa Đàn</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_133944.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Làm Đĩ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->

<!-- Văn học nc ngoai -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Văn Học Nước Ngoài</span></h2>
  <div class="row px-xl-5 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/7/11/4TH9IWTX.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Sáng Trăng</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2019/11/14/C3F24YNQ.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Ký Túc Xá Phòng 307</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/4/5/ITIP1FEH.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Mã Mẫu Tử</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x320/crop/Books/Images/2022/9/14/899HQYIC.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Tiếng Núi</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/146x226/crop/Books/Images/2022/7/11/UXYZPE2L.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Cô Gái Mặc Váy Tím</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->

<!-- Thieu nhi -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Thiếu Nhi</span></h2>
  <div class="row px-xl-5 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2018/6/7/OUBHBBZ2.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Ngày Xưa Của Con</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2022/4/7/N2I8JZJ6.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Mê Cung Thư Viện</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2021/4/20/D2MFZH3Z.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Nhỡ Bố Ở Xa Quá</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/7/30/4BK8T37Z.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Băng Đảng Nữa Đêm</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="http://static.nhanam.com.vn/thumb/0x230/crop/Books/Images/2020/2/11/ESZS32Q9.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Xin Chào Cô, Thần Chết !</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->

<!-- TS-CT -->
<div class="container-fluid pt-5 pb-3">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Thời Sự - Chính Trị</span></h2>
  <div class="row px-xl-5 justify-content-center">
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/8/9/8936049953569_1.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Tinh Hoa Văn Học Việt Nam - Truyện Ngắn Vũ Trọng Phụng</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_133943.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Tinh Hoa Văn Học Việt Nam - Số Đỏ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/8/9/8935236425834.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Đời Thừa - Danh Tác Văn Học Việt Nam</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star-half-alt text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_133944.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Tinh Hoa Văn Học VIệt Nam - Làm Đĩ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="https://cdn0.fahasa.com/media/catalog/product/i/m/image_133944.jpg" alt="">
          <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
          </div>
        </div>
        <div class="text-center py-4 px-2">
          <a class="h6 text-decoration-none text-truncate" href="">Tinh Hoa Văn Học VIệt Nam - Làm Đĩ</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>$123.00</h5><h6 class="text-muted ml-2"><del>$123.00</del></h6>
          </div>
          <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small class="far fa-star text-primary mr-1"></small>
            <small>(99)</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Products End -->


